[submodule "OpenAL-Soft"]
	path = OpenAL-Soft
	url = git@github.com:camlorn/OpenAL-Soft.git
[submodule "pycppreflect_submodule"]
	path = pycppreflect_submodule
	url = git@github.com:jerdak/pycppreflect.git
